body {
font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, .card-body>h5 {
  font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

.card-img-overlay h5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(to right, rgb(243, 236, 245), rgb(205, 211, 153), rgb(209, 192, 98));
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    margin-bottom: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(243, 236, 245), rgb(205, 211, 153), rgb(209, 192, 98));
    color: rgb(26, 20, 20);
}

.jumbotron h2 {
    color: #3046C5;
}

.navbar-dark {
    background-color: rgb(173, 28, 141);
}

.media{
    padding: 20px;
}
